
*.exe
*.out
*.app
a.out
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.pdb
*.idb
*.ilk
*.gch
*.pch
build/
Build/
Debug/
Release/
x64/
x86/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
.vs/
*.vcxproj.user

*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
replay_pid*

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

.gradle/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
build/
!gradle/wrapper/gradle-wrapper.jar

.idea/
*.iml
*.iws
*.ipr
out/
.idea_modules/

.classpath
.project
.settings/
.metadata/
bin/
local.properties
.loadpath
.recommenders

nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

.vscode/
*.code-workspace

.DS_Store
Thumbs.db
desktop.ini

*.log
*.tmp
*.bak
*.swp
*~
out/
app.exe
